<div class="row gx-5 mb-3">
    <div class="col-3">
        {{ form_widget(item.key, {attr: {class: "form-control fs-7", placeholder: "Enter key"}}) }}
    </div>
    <div class="col-7">
        {{ form_widget(item.value, {attr: {class: "form-control fs-7", placeholder: "Enter value"}}) }}
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-sm btn-danger btn-remove-item mt-2">Remove</button>
    </div>
</div>